/**
 *  Colors
 */

$emerald-color: #62CC80;
$dandelion-color: #FED563;
$bittersweet-color: #FF6060;

// Gray Scale
$gray-darker-color: #333;
$gray-dark-color: #A7A7A7;
$gray-color: #E9E9E9;
$gray-light-color: #eee;
$gray-lighter-color: #FAFAFA;


$titles-color: $gray-darker-color;
$small-color: $gray-darker-color;
$label-color: $gray-darker-color;
$large-color: #4D5459;
$placeholder-color: $gray-dark-color;
$body-color: $gray-darker-color;

// Layout colors

$header-background-color: #21282E;
$page-background-color: #FAFAFC;
$table-background-color: #FFF;
$table-background-accent-color: #F8F8F8;
$table-border-color: #E6E6E6;
